/* XX-Large devices (larger desktops, 1400px and up) */
@media only screen and (max-width: 1400px) {
  header {
    background-color: blue;
  }
}

/* X-Large devices (large desktops, 1200px and up) */
@media only screen and (max-width: 1200px) {
  header {
    background-color: green;
  }
  
  .banner article p {
    font-size: 30px;
  }
}

/* Large devices (desktops, 992px and up) */
@media only screen and (max-width: 992px) {
  header {
    background-color: gray;
  }
}

/* Medium devices (tablets, 768px and up) */
@media only screen and (max-width: 768px) {
  header {
    background-color: lightblue;
  }

  .banner article p {
    font-size: 25px;
  }



  .cards {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 100px;
  }

  .card { 
    width: 100%;
    margin-top: 20px;
  }

  .card p {
    font-size: 25px;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media only screen and (max-width: 576px) {
  header {
    background-color: red;
  }
}

/*X-Small devices (portrait phones, less than 576px)*/
@media only screen and (max-width: 320px) {
  header {
    background-color: pink;
  }
}