/* // X-Small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap */


/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    header {
      background-color: red;
  }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    header {
      background-color: lightblue;
  }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    header {
      background-color: black;
  }
}

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    header {
      background-color: green;
  }
}

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
    header {
      background-color: blue;
  }
}
