/* // X-Small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap */



/* Extra small devices (phones, 600px and down) */
@media only screen and (min-width: 576px) {
  header {
    background-color: red;
}

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 768px) {
  header {
    background-color: lightblue;
}

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 992px) {
  header {
    background-color: black;
}

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 1200px) {
  header {
    background-color: green;
}

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1400px) {
  header {
    background-color: blue;
}
  
}